@import '../../variables.scss';

button{
    padding: 10px 20px;
    color: $light-color;
    background-color: $primary-color;
    border-radius: 10px;
    border: 0;
    font-family: 'Roboto Slab';
    font-size: 20px;
}

.containerMain{
    display: flex;
    flex-direction: column;
    margin: 50px auto 200px;
    max-width: 1300px;
    width: 1300px;
    height: auto;
}

.containerHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: 'Roboto Slab';
    
}

.containerCards{
    display: flex;
    flex-direction: row;
    gap: 40px 22px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;

    .containerCard{
        display: flex;
        flex-direction: column;

        .day{
            font-family: 'Roboto Slab';
        }
    }
}

.card{
    display: flex;
    flex-direction: row;
    width: 308px;
    height: 120px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    color: $light-color;
    background-color: $primary-color-dark;
    
    a{
        align-self: flex-end;
        transform: translate(25%);
        margin: 0 auto;
        font-weight: 700;
    }

    p{
        font-size: 20px;
    }
}

.addDuty{
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    h4{
        font-family: 'Roboto Slab';
    }

    .areaBtn{
        display: flex;
        flex-direction: row;
        margin: 40px auto;
        column-gap: 10px;
    }
}

.areaForm{
    display: flex;
    column-gap: 20px;
    margin-top: 20px;

    input{
        border-radius: 5px;
        border: 1px solid #777;
        height: 50px;
        font-size: 16px;
        padding: 0 15px;
    }

    input.coordinator{
        width: 400px;
    }
}