$primary-color: #B90504;
$primary-color-light: #FF3433;
$primary-color-dark: #800100;
$secondary-color: #312782;
$secondary-color-light: #6359B2;
$secondary-color-dark: #0F084D;
$light-color: #fff;
$dark-color: #191919;